<style>
    /* Modern form styling */
form {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 2rem;
    border-radius: 2px;
    border: 2px solid #00cc33;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}
form label {
    font-size: 0.95rem;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 0.45rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
    border-color: #00cc33;
    outline: none;
}

form button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #00cc33 !important;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #04a12b !important;
}


</style>
<!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
<form action='https://forms.zohopublic.ca/supersonicsites1/form/BestLandscapingWebsitesNewsletter/formperma/qaFHR3Ft6_Coa9K_bzXBMVDaKyQqZKW_E4o_CqMF_rM/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
    <h2 style="margin-top: 0px;">Get a Free Website Audit Now</h2>
<p>Enter your details, and our team will create a personalized report showing how to optimize your website to attract more landscaping clients.</p>
<input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
<input type="hidden" name="zf_redirect_url" value=""><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
<input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
<input type="hidden" name="utm_source" value=""/>
<input type="hidden" name="utm_medium" value=""/>
<input type="hidden" name="utm_campaign" value=""/>
<input type="hidden" name="utm_term" value=""/>
<input type="hidden" name="utm_content" value=""/>
<!--Single Line-->
    <input  type="text" name="SingleLine" value="" fieldType=1 maxlength="255" placeholder="First Name *" required />
    <!--Single Line-->
    <input  type="text" name="SingleLine1" value="" fieldType=1 maxlength="255" placeholder="Last Name *" required />
    <!--Email-->
    <input type="text" maxlength="255" name="Email" value="" fieldType=9 placeholder="Email *" required />
    <!--Website-->
    <input type="text" maxlength="2083" name="Website" value="" placeholder="Company Website * (www.yourwebsite.com)" required />

    <button type="submit" style="margin-top: 1rem;">Get Free Audit</button>
</form>
