
<!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
<form action='https://forms.zohopublic.ca/supersonicsites1/form/BestLandscapingWebsitesNewsletter/formperma/qaFHR3Ft6_Coa9K_bzXBMVDaKyQqZKW_E4o_CqMF_rM/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
    <h2 style="margin-top: 0px; margin-bottom: 0.5rem; text-align: center;">Get Your Free Website Audit Now!</h2>
    <p style="text-align:center; color: #04a12b; font-weight: 700;">$249 Value</p>
<p style="text-align:center;">Enter your details, and our team will create a personalized report showing how to optimize your website to attract more landscaping clients.</p>
<input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
<input type="hidden" name="zf_redirect_url" value=""><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
<input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
<input type="hidden" name="utm_source" value=""/>
<input type="hidden" name="utm_medium" value=""/>
<input type="hidden" name="utm_campaign" value=""/>
<input type="hidden" name="utm_term" value=""/>
<input type="hidden" name="utm_content" value=""/>
<!--Single Line-->
    <input  type="text" name="SingleLine" value="" fieldType=1 maxlength="255" placeholder="First Name *" required />
    <!--Single Line-->
    <input  type="text" name="SingleLine1" value="" fieldType=1 maxlength="255" placeholder="Last Name *" required />
    <!--Email-->
    <input type="text" maxlength="255" name="Email" value="" fieldType=9 placeholder="Email *" required />
    <!--Website-->
    <input type="text" maxlength="2083" name="Website" value="" placeholder="Company Website * (www.yourwebsite.com)" required />

    <button type="submit" style="margin-top: 1rem;">Get Free Audit</button>
</form>
